#contact {
    padding: 0 0;
    margin-top: 0;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#pix {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#btn_pix {
    cursor: pointer;
}

.collection {
    color: white;
    list-style: none;
    width: 100%;
}


.collection-item {
    display: flex;
    border: 1px solid lightgray;
    padding: 10px;
    align-items: center;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.collection-item:hover {
    background-color: lightgray;
}

.media-logo {
    height: 50px;
    margin-right: 50px;
}